In [96]:
print('hello')

hello

In [97]:
print('new')

new

here you cam write notes

In [98]:
"hello"

'hello'

In [99]:
"world"

'world'

In [100]:
'this is also a string'

'this is also a string'

In [101]:
"I'm going on a run"

"I'm going on a run"

In [102]:
print('hello')

hello

without adding print- only the last line is returned. If you want all of the strings returned, must add print to both.

In [103]:
"hello world one"
"hello world two"

'hello world two'

In [104]:
print('hello world one')
print('hello world two')

hello world one
hello world two

By adding \n, you can print on a new line

In [105]:
print('hello world')
print('hello \n world')

hello world
hello
 world

In [106]:
len('hello')  ##gets the length of the characters

5

In [107]:
len('I am')

4

In [108]:
mystring = 'Hello World'

In [109]:
mystring

'Hello World'

In [110]:
mystring[0]

'H'

In [111]:
mystring[8]

'r'

Two ways to return the letter 'l' from the word 'World' in the string 'Hello World'

In [112]:
mystring[9]

'l'

In [113]:
mystring[-2]

'l'

SLICING- if you want to get a range of characters back.

In [114]:
mystring='abcdefghijk' ## reassign mystring

In [115]:
mystring

'abcdefghijk'

In [116]:
mystring[2]  ## return a single character

'c'

In [117]:
mystring[2:]      ## return a range of characters-

'cdefghijk'

## the ':' indicates that you are requesting a return of an 'up to but not including' the character number indicated. ex: [:3] means to go up to the 3rd postion but dont include it. D is in the 3rd position because and index starts at 0

In [118]:
mystring[:3]

'abc'

## this pulls characters starting at the 3 and ending before the 6th character

In [119]:
mystring[3:6]

'def'

In [120]:
mystring[1:3]

'bc'

## When you include step size, you can indicate how many characters you want to skip.

In [121]:
mystring[::2] ## skips 2 characters

'acegik'

In [122]:
mystring[2:7:2]
##start at position 2, end up to 7 skipping 
##every 2 characters

'ceg'

To reverse the string [::-1] because it takes a string 'abcdefghijk' and says go from 'a' back to 'kj....'

In [123]:
mystring[::-1]

'kjihgfedcba'

## Strings....Immutability

In [124]:
name= "Sam"

If you wanted to change 'Sam to Pam' you can't change it this way----name[0] = 'P'---- you'll get an error. To change you will use string concatenation. Use slice.

In [125]:
last_letters = name[1:]

In [126]:
'P' + last_letters

'Pam'

In [127]:
x = 'Hello World'

In [128]:
# x + " it is beautiful outside!"
# make sure there is a space in front of "it"

You can redefine X

In [129]:
x = x + " it is beautiful outside!"

In [130]:
x

'Hello World it is beautiful outside!'

In [131]:
letter = 'z'

In [132]:
letter * 10 # using a multiplication sign with letters

'zzzzzzzzzz'

# Methods

In [133]:
X = 'Hello World'

In [134]:
x.upper() # type 'x.' then hit tab for a list of methods or functions

'HELLO WORLD IT IS BEAUTIFUL OUTSIDE!'

In [135]:
x.lower()

'hello world it is beautiful outside!'

In [136]:
x.split() # splits a strings, turns it into a list.

['Hello', 'World', 'it', 'is', 'beautiful', 'outside!']

In [137]:
x.split('i')
#splits everything on the 'i' and removes 'i'

['Hello World ', 't ', 's beaut', 'ful outs', 'de!']

In [138]:
print('hello')

hello

# Formatting with the .format() method

A good way to format objects into your strings for print statements is with the string.format() method. 
The syntax is:

'String here {} then also {}'.format('something1','something2')

In [139]:
print('This is a string {}'.format('INSERTED'))

This is a string INSERTED

In [140]:
print('The {2} {1} {0}'.format('fox','brown','quick'))
# this returns a sentence out of order. 
#If you want the word quick to be first, then add
# 2 in the first curly braces.

The quick brown fox

In [141]:
print('The {q} {b} {f}'.format
      (f = 'fox',b = 'brown',q ='quick'))

The quick brown fox

# Float formatting follows "{value:width.precision f}"  
allows you to adjust the results

In [142]:
result = 100/777

In [143]:
result

0.1287001287001287

In [144]:
print("The result was {}".format(result))

# above is the same as below-
#assigning result to a variable and
#add the value into the curly braces.

print("The result was {r}".format(r=result))

The result was 0.1287001287001287
The result was 0.1287001287001287

When adding the precision format, you can add which position you want to be rounded.

Below we chose the 3rd position to be rounded

In [145]:
print("The result was {r:1.3f}".format(r=result))

# you can add white space by change the width number.{value:width.percision f}

print("The result was {r:10.3f}".format(r=result))

The result was 0.129
The result was      0.129

F strings are similar to other langauages and are comparable to  the  .format method

In [146]:
name = 'Jose'

In [147]:
print(f'Hello, his name is {name}')

Hello, his name is Jose

In [148]:
name = "Sam"
age = 3

In [149]:
print(f'{name} is {age} years old.')

Sam is 3 years old.

# Lists

In [150]:
my_list = [1,2,3]

In [151]:
my_list = ['STRING', 100,23.2]

In [152]:
len(my_list)

3

In [153]:
mylist = ['one', 'two', 'three']

In [154]:
mylist[0]

'one'

In [155]:
mylist[1:]

['two', 'three']

In [157]:
another_list = ['four','five']

In [158]:
mylist + another_list

['one', 'two', 'three', 'four', 'five']

If you want to save this list you must assign it.

In [161]:
new_list = mylist + another_list  #assigns

In [162]:
new_list  #calls the new list

['one', 'two', 'three', 'four', 'five']

In [163]:
new_list[0] = 'ONE ALL CAPS' #Changing caps in position 0

In [164]:
new_list  #shows change

['ONE ALL CAPS', 'two', 'three', 'four', 'five']