In [2]:
mylist = [1,2,3]

In [3]:
mylist.append(4) #adds to a list

In [4]:
mylist

[1, 2, 3, 4]

In [5]:
mylist.pop() #removes from a list

4

In [6]:
mylist

[1, 2, 3]

In [7]:
help(mylist.insert)     #use shift/tab in notebook to get the syntax

Help on built-in function insert:

insert(index, object, /) method of builtins.list instance
    Insert object before index.

# Creating a function

In [8]:
def say_hello():    #def defines function and say_hello is the name you chose for the function
    print('hello')

In [9]:
say_hello()

hello

In [10]:
def say_hello(name):
    print(f'Hello {name}')

In [11]:
say_hello('Jose')

Hello Jose

In [12]:
def add_num(num1,num2):
    return num1+num2

In [14]:
result = add_num(10,20)

In [15]:
result

30

In [16]:
#MOD operator
2 % 2  #2/2=1 with a remainder of 0

0

In [17]:
3 % 2

1

In [18]:
41 % 40

1

In [20]:
#to check if a number is even, use % 2. If 0 then then the number is even

20 % 2 == 0

True

In [21]:
21 % 2 ==0

False

In [25]:
#creating a function with MOD 
def even_check(number):
    return number % 2 ==0

In [26]:
even_check(20)

True

In [27]:
even_check(21)

False

In [28]:
#return true if ANY number is even inside a list

In [29]:
def check_even_list(num_list):
    
    for number in num_list:
        if number % 2 == 0:
            return True
        else:
            pass

In [30]:
check_even_list([1,3,5])

In [31]:
check_even_list([2,4,5])

True

In [32]:
check_even_list([2,1,1,1])

True

In [33]:
check_even_list([1,1,1,2])

True

# Functions and tuple unpacking

In [1]:
stock_prices = [('Appl', 200), ('GOOG',400),('MSFT',100)]

In [2]:
for item in stock_prices:
    print(item)

('Appl', 200)
('GOOG', 400)
('MSFT', 100)

In [4]:
for key,value in stock_prices:  #you can name key,value whatever you want. This unpacks the tuple so you can grab what you want from a tuple
    print(key)

Appl
GOOG
MSFT

In [6]:
for key,value in stock_prices:
    print(value+(0.1*value))  #will return what a 10% increase would look like to the value

220.0
440.0
110.0

# CAN UNPACK A TUPLE LIKE ABOVE, WITH A FUNCTION SO YOU CAN JUST CALL THE FUNCTION INSTEAD OF WRITING THE FORLOOP ALL THE TIME

In [11]:
#employees hours
work_hours = [('Abby',100),('Billy',400),('Cassie',800)]

In [17]:
#want to see who is the employee of the year- employee that worked the most hours
#creating a function to check work hours
def employee_check(work_hours):
    
    current_max = 0  #will start with 0 then compare to employee work hours and if it is more it will reset 0 to the current work hours.
    employee_of_month = '' 
    
    for employee,hours in work_hours:  #check work_hours and if the hours is more than the set current_hours which is zero then it returns the employee
        if hours > current_max:
            current_max = hours
            employee_of_month = employee
        else:
            pass
#the for loop will iterate through the work_hours comparing the current_max to each employee and returning the employee name if their hours are greater than the current_max
    #Return
    return (employee_of_month,current_max)

In [18]:
employee_check(work_hours)

('Cassie', 800)

# Interactions between functions

In [20]:
#how to shuffle a list
example = [1,2,3,4,5,6,7]

In [21]:
from random import shuffle

In [22]:
shuffle(example) # cant save the results so need to create a function

In [23]:
example

[3, 5, 6, 7, 1, 4, 2]

In [25]:
#Creating a game

def shuffle_list(mylist):
    shuffle(mylist)
    return mylist

In [32]:
result = shuffle_list(example)

In [33]:
result

[2, 3, 5, 4, 1, 7, 6]

In [34]:
mylist = ['','O','']  #creating a list that will shuffle so the user will try to guess which position the 'O' is in. Think of shuffling 3 cups with a ball underneath one

In [36]:
shuffle_list(mylist)  #shuffle_list was the function you created above

['O', '', '']

In [37]:
#need to create a function that takes in a players guess

def player_guess():
    
    guess=''    #a player can choose 1 of 3 index positions
    
    while guess not in ['0','1','2']:  #this is written as a string because input always returns a string, then when you return at the bottom of the function you will change it to int.
        guess = input("Pick a number: 0,1, or 2")
        
    return int(guess)

In [40]:
player_guess()

Pick a number: 0,1, or 20

0

In [41]:
myindex = player_guess()

Pick a number: 0,1, or 21

In [42]:
myindex

1

In [43]:
#write a function to check if the guess was correct
def check_guess(mylist,guess):
    if mylist[guess] == 'O':
        print("Correct!")
    else:
        print("Wrong guess!")
        print(mylist)

In [47]:
 #INITAL LIST
mylist = ['','O','']

#SHUFFLE LIST
mixedup_list = shuffle_list(mylist)

#USER GUESS
guess = player_guess()

#CHECK GUESS
check_guess(mixedup_list,guess)

Pick a number: 0,1, or 20
Wrong guess!
['', 'O', '']

# *args and **kwargs

In [50]:
def myfunc(a,b,c=0,d=0,e=0):
    #returns 5% of the sum of a and b
    return sum((a,b,c,d,e)) * 0.05

In [51]:
myfunc(40,60,100,100,3) # can only put 5 numbers in because the function only gives you 5 arguments.

15.15

In [58]:
# this is when you'd use *args to pass many numbers within it. Can us other keywords as long as the * is present  

def myfunc(*args):
    for item in args:
        print(item)

In [59]:
myfunc(40,60,100,1,34)

40
60
100
1
34

In [64]:
def myfunc(**kwargs):  # as long as the ** is present you can use whatever keyword except kwargs is the best practice
    print(kwargs) # this will allow you to call for example veggie = 'lettuce' and not through and error
    if 'fruit' in kwargs:
        print('My fruit of choice is {}'.format(kwargs['fruit']))
    else:
        print('I did not find any fruit here'

In [65]:
myfunc(fruit='apple',veggie = 'lettuce')

{'fruit': 'apple', 'veggie': 'lettuce'}
My fruit of choice is apple

In [72]:
def myfunc(*args, **kwargs):
    print(args)
    print(kwargs)
    
    print('I would like {} {}'.format(args[0],kwargs['food']))

In [73]:
myfunc(10,20,30,fruit='orange',food='eggs',animal='dog')

(10, 20, 30)
{'fruit': 'orange', 'food': 'eggs', 'animal': 'dog'}
I would like 10 eggs

OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
old_macdonald('macdonald')  ---> MacDonald

In [77]:
# solving using .upper
def old_macdonald(name):
    
    
    first_letter = name[0]
    inbetween = name[1:3]
    fourth_letter = name[3]
    rest = name[4:]
    
    return first_letter.upper() + inbetween + fourth_letter.upper() + rest

In [78]:
old_macdonald('macdonald')

'MacDonald'

## using .capitalize instead of .upper

This function breaks macdonald into two strings and capitalizes both. 


def old_macdonald(name):
     
    first_half= name[:3]
    second_half = name[3:]
    
    return first_half.capitalize() +  second_half.capitalize()

# MASTER YODA 
Given a sentence, return a sentence with the words reversed

In [81]:
def master_yoda(text):
   wordlist = text.split()
   reverse_word_list = wordlist[::-1]
   return reverse_word_list

In [82]:
master_yoda('I am home')

['home', 'am', 'I']

# ALMOST THERE
Given an interger n , return True if n is within 10 of either 100 or 200

almost_there(90) ---> True
almost_there(104) ---> True
almost_there(150) ---> False
almost_there(209) ---> True

NOTE: abs(num) returns the absolute value of a number

In [83]:
def almost_there(n):
    
   return (abs(100 - n) <= 10) or (abs(200-n) <=10)

In [85]:
almost_there(90)

True

In [86]:
almost_there(90)

True

In [87]:
almost_there(150)

False

# Lambda Expressions

Map and Filter

In [88]:
#SIMPLE FUNCTION THAT TAKES IN A NUMBER AND RETURNS THE SQUARE
def square(num):    
    return num**2

In [89]:
my_nums = [1,2,3,4,5]

In [91]:
#MAP WILL TAKE THE FUNCTION ENTERED (SQUARE) AND APPLY IT TO EACH NUMBER IN THE LIST ENTERED (MY_NUMS)
for item in map(square,my_nums):
    print(item)

1
4
9
16
25

In [92]:
#THIS RETURNS THE RESULT IN A LIST

list(map(square,my_nums))

[1, 4, 9, 16, 25]

In [96]:
#RETURN 'EVEN' IF THE NAME IN NAMES[] HAS EVEN NUMBER OF LETTERS.
#IF THE NAME HAS AN ODD NUMBER OF LETTERS, THEN IT RETURNS JUST THE FIRST LETTER
def splicer(mystring):
    if len(mystring)%2 ==0:   #CHECKES FOR EVEN LETTERS
        return 'EVEN'
    else:
        return mystring[0]  #RETURNS JUST THE FIRST LETTER OF THE NAME IF THERE IS AN ODD NUMBER OF CHARACTERS

In [97]:
names = ['Andy','Eve','Sally']

In [102]:
list(map(splicer,names)) 
#PASS THE FUNCTION IN AS AN ARGUMENT SO YOU DONT NEED TO PUT () AFTER THE FUNCTION. MAP TAKES THE FUNCTIONS AND RUNS THROUGH EVERY ITEM IN THE LIST MAP(FUNCTION_NAME,LIST_NAME)

['EVEN', 'E', 'S']

In [103]:
def check_even(num):
    return num%2 ==0

In [104]:
mynums = [1,2,3,4,5,6]

In [108]:
list(filter(check_even,mynums)) #transform it to a list

[2, 4, 6]

In [109]:
#or iterate through it
for n in filter(check_even,mynums):
    print(n)

2
4
6

In [110]:
def square(num):
    result = num ** 2
    return result

In [111]:
square(3)

9

In [113]:
list(map(lambda num:num**2,mynums)) #lambda in place of a creating a new function when you only want to use it once

[1, 4, 9, 16, 25, 36]

In [114]:
list(filter(lambda num:num%2 == 0, mynums))

[2, 4, 6]

In [116]:
names

['Andy', 'Eve', 'Sally']

In [118]:
list(map(lambda name:name[0],names))

['A', 'E', 'S']

# LEGB EXAMPLE

In [121]:
#GLOBAL
name = 'THIS IS A GLOBAL STRING'

def greet():
    
    #ENCLOSING - if there is no name string here then python will jump to GLOBAL
    name = 'Sammy'
    
    def hello():
        #LOCAL- if you comment out name, then python will jump up to the ENCLOSING
        name = 'IM A LOCAL'
        print('Hello '+name)
        
    hello()

In [122]:
greet()

Hello IM A LOCAL

In [139]:
#CHANGING A GLOBAL VARIABLY LOCALLY
x = 50   # -----> THE GLOBAL VARIABLE

def func():
    global x
    print(f'X is {x}')
    
    #LOCAL REASSIGNMENT OF A GLOBAL VARIABLE!
    x = 'NEW VALUE'
    print(f'I JUST LOCALLY CHANGED GLOBAL X TO {x}')

In [140]:
print(x)

50

In [141]:
func()

X is 50
I JUST LOCALLY CHANGED GLOBAL X TO NEW VALUE

In [142]:
print(x)

NEW VALUE