In [2]:
if True:
    print ('ITS TRUE!')

ITS TRUE!

In [3]:
if 3>2:
    print ('ITS TRUE!')

ITS TRUE!

In [5]:
hungry = True

if hungry:
     print ('FEED ME!')

FEED ME!

In [7]:
hungry = False  # if you change to true then outcome will be FEED ME

if hungry:
    print ('FEED ME!')
else:
    print('Im not hungry')

Im not hungry

In [10]:
loc = 'Bank'

if loc == 'Auto Shop':
    print('Cars are cool!')
elif loc == 'Bank':
    print("Money is cool!")
else:
    print('I do not know much.')

Money is cool!

# FOR LOOPS

In [12]:
mylist= [1,2,3,4,5,6,7,8,9,10]

In [16]:
for num in mylist:  # num is a variable name of your choosing
    print(num)

1
2
3
4
5
6
7
8
9
10

In [17]:
for jelly in mylist:
    print('hello')

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [19]:
for num in mylist:
    #check for even
    if num % 2 == 0:  # %2 is mod 2 means the remainder if divided by two.
        print(num)  #if the remainder is 0 then the number is even
    else:
        print(f'Odd Number: {num}')

Odd Number: 1
2
Odd Number: 3
4
Odd Number: 5
6
Odd Number: 7
8
Odd Number: 9
10

In [21]:
list_sum = 0

for num in mylist:     #starts with 0
    list_sum = list_sum + num  #takes the list_sum = 0 and adds the numbers from my list 
    #0+1, 1+2, 3+3, 6+4, 10+5,15+6,21+7,28+8,36+9,45+10, 55
print(list_sum) # if this line is indented with the for loop then you get the running total see below example

55

In [23]:
list_sum = 0

for num in mylist:    
    list_sum = list_sum + num   
    #0+1, 1+2, 3+3, 6+4, 10+5,15+6,21+7,28+8,36+9,45+10, 55
    print(list_sum)

1
3
6
10
15
21
28
36
45
55

In [24]:
mystring = 'Hello World'

for letter in mystring:
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [25]:
tup = (1,2,3)

for item in tup:
    print(item)

1
2
3

# Tuple unpacking. [(a,b),(a,b)]
To get individual items in a tuple use this.

In [26]:
mylist = [(1,2),(3,4),(5,6),(7,8)] #a list of tuples

In [27]:
for item in mylist:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [28]:
#tuple unpacking
for a,b in mylist:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [29]:
#tuple unpacking
for a,b in mylist:
    print(a)

1
3
5
7

In [30]:
#tuple unpacking
for a,b in mylist:
    print(b)

2
4
6
8

# Iterate through a dictionary

In [2]:
d = {'k1':1,'k2':2,'k3':3}

for item in d:   #iterate through the keys in dictionary
    print(item)

k1
k2
k3

In [4]:
for item in d.items():   #calls and iterates through key:value pair in a dictionary
    print(item)

('k1', 1)
('k2', 2)
('k3', 3)

In [6]:
for key,value in d.items():    # this unpacks the tuples and calls specifically keys and value, keys, or values
    print(value)

1
2
3

# While Loops

In [8]:
x = 0

while x < 5:
    print(f'The current value of x is {x}')
    x = x + 1   # can also say x+=1 which means the same

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4

In [9]:
x = 0

while x < 5:
    print(f'The current value of x is {x}')
    x = x + 1   # can also say x+=1 which means the same
else:           #mixing with an else statement
  print("X IS NOT LESS THAN 5")

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4
X IS NOT LESS THAN 5

# Break, continue, pass

We can use break, continue and pass statements in our loops to add additional functionality for various cases. The three statements are defined by:

 break: Breaks out of the currents closest enclosing loop.
 continue: Goes to the top of the closest enclosing loops.
 pass: Does nothing at all.

In [16]:
mystring = 'Sammy'

In [11]:
for letter in mystring:
    print(letter)

S
a
m
m
y

In [12]:
for letter in mystring:
    if letter == 'a':  # use continue if you didn't want to return the letter 'a'
        continue
    print(letter)
    #loop will see 'a' and return to the beginning of the loop and continue on

S
m
m
y

In [17]:
for letter in mystring:
    if letter == 'a':  #use break if you want to break out of the loop at a specific point.
        break
    print(letter)

S

In [18]:
x = 0

while x < 5:
    print(x)
    x += 1

0
1
2
3
4

In [19]:
x = 0

while x < 5:
    if x == 2:  # if you want to break out of the loop if x is 2 
        break
    print(x)
    x += 1

0
1

# Useful Operators

In [20]:
mylist = [1,2,3]

In [21]:
for num in range(10): #returns first 10
    print(num)

0
1
2
3
4
5
6
7
8
9

In [22]:
for num in range(3,10):  #start at number 3 and go up to 10th position
    print(num)

3
4
5
6
7
8
9

In [23]:
for num in range(0,10,2):  #starts at 0, returns up to 10th position and skips a step so you get every other number
    print(num)

0
2
4
6
8

In [24]:
# enumerate

In [25]:
index_count = 0

for letter in 'abcde':
    print('At index {} the letter is {}'.format(index_count,letter))
    index_count += 1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [26]:
word = 'abcde'

for item in enumerate(word):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [27]:
#can unpack the tuples
word = 'abcde'

for index,letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e

In [28]:
mylist1 = [1,2,3]
mylist2 = ['a','b','c']

In [30]:
# using zip

for item in zip(mylist1,mylist2):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

In [31]:
'x' in [1,2,3]

False

In [32]:
'x' in ['x','y','z']

True

In [33]:
mylist = [10,20,30,40,100]

In [34]:
min(mylist)

10

In [35]:
max(mylist)

100

In [36]:
from random import shuffle #shuffle function

In [37]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [38]:
shuffle(mylist)

In [39]:
mylist

[9, 4, 2, 8, 3, 7, 5, 1, 10, 6]

In [40]:
from random import randint

In [41]:
randint(0,100) #returning a random integer

68

In [42]:
mynum= randint(0,10) # allows you to save the random integar

In [43]:
mynum

9

In [45]:
result = input('Enter a number here: ')  #this asks user to input something

Enter a number here: 50

In [46]:
result #returns the result of the user input. Returns it as a string.

'50'

In [47]:
float(result) #returns the input as a float instead of a string

50.0

In [48]:
int(result) #returns input as an integar instead of a string

50

# List comprehension

In [50]:
mylist=[]

In [58]:
mylist = [num for num in range(0,11)]

In [54]:
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [55]:
#to get squared numbers 
mylist = [num**2 for num in range(0,11)]

In [56]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [61]:
#adding a for statement to return even number.
mylist = [x for x in range(0,11) if x%2==0]

In [62]:
mylist

[0, 2, 4, 6, 8, 10]

In [63]:
celcius = [0,10,20,34.5]

fahrenheit = [(9/5*temp + 32) for temp in celcius]

In [64]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [67]:
# this is the same thing as above

fahrenheit = []

for temp in celcius:
    fahrenheit.append((9/5*temp + 32))

In [68]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [73]:
mylist = []

for x in [2,4,6]:
    for y in [1,10,1000]: 
        mylist.append(x*y)  # (2*1,2*10,2*1000)(4*1,4*10,4*1000)(6*1,6*10,6*1000)

In [74]:
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]